.Footer {
  background-color: #20232a;
  color: #ffffff;
}

.Footer-header {
  margin: 0 0 0.75rem;
  color: #999;
}

.Footer-container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

@media screen and (min-width: 720px) {
  .Footer-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

.Footer-section {
  margin-bottom: 2rem;
}

.Footer-link {
  display: block;
  color: #ffffff;
  text-decoration: none;
}

.Footer-link:hover {
  color: var(--primary-color);
}

.Footer-required {
  display: flex;
  align-items: center;
}

.Footer-realtor {
  width: 100px;
  margin-left: -20px;
}

.Footer-equal-housing {
  width: 75px;
}
