.NavbarSection {
  overflow: hidden;
  position: fixed;
  z-index: 100;
  top: 0;
  height: 64px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.NavbarSection-cell {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.NavbarSection-nav {
  display: flex;
  align-items: center;
  height: 100%;
}

.NavbarSection-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 21px;
  transition: 0.3s background-color;
}

.NavbarSection-link:hover {
  background-color: rgb(15, 15, 15);
}

.NavbarSection-link:active {
  background-color: rgba(20, 20, 20, 0.2);
}

.NavbarSection-link:focus {
  background-color: rgb(25, 25, 25);
}
