.Section {
  padding: 4em 0;
  text-align: left;
}
.Section-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Section:nth-child(even) .Section-container {
  flex-direction: row-reverse;
}

.Section-content {
  margin-right: 4rem;
  margin-left: 0;
  flex: 1;
}

.Section:nth-child(even) .Section-content {
  margin-right: 0;
  margin-left: 4rem;
}

.Section-img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 4px;
  flex: 1;
  opacity: 0;
}

@media only screen and (max-width: 964px) {
  .Section-container,
  .Section:nth-child(even) .Section-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .Section-content,
  .Section:nth-child(even) .Section-content {
    margin: 0;
  }

  .Section-img {
    max-width: 100%;
  }
}

.fade-in {
  animation: fade-in 2.5s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
